:root {
  --backgroundColor: #ececec;
  --mainWhite: #f7f7f7;
  --darkBlue: #003b3e;
  --darkestBlue: #002e30;
  --lightBlue: #017a80;
  --hoverColor: #01a9b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3.7rem;
  color: var(--darkestBlue);
  background-color: var(--darkBlue);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.woff2') format('woff2'), url('./fonts/Oswald-Regular.woff') format('woff'),
    url('./fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}
