:root {
  --backgroundColor: #ECECEC;
  --mainWhite: #F7F7F7;
  --darkBlue: #003B3E;
  --darkestBlue: #002E30;
  --lightBlue: #017A80;
  --hoverColor: #01A9B0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3.7rem;
  color: var(--darkestBlue);
  background-color: var(--darkBlue);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}
